*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
.classpath
.idea/
.project
cobertura.ser
**/*ipr
**/*iws
**/*iml
.settings
.classpath
.project
.idea
*.iml
*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/